@using Factory.Models;

<div id="home">
    <div id="homeCol1">
        @if (Model["engineers"].Length == 0)
        {
            <p>No engineers have been added.</p>
        }
        @foreach (Engineer engineer in Model["engineers"])
        {
            <p>@Html.ActionLink(@engineer.Name, "Details", "Engineers", new { id = @engineer.EngineerId })</p>
        }
    </div>
    <div id="homeCol2">
        @if (Model["machines"].Length == 0)
        {
            <p>No machines have been added.</p>
        }
        @foreach (Machine machine in Model["machines"])
        {
            <p>@Html.ActionLink(@machine.Name, "Details", "Machines", new { id = @machine.MachineId })</p>
        }
    </div>
</div>